/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
gemfiles/*.lock
gemfiles/.bundle
.DS_Store
~.*
~*
Gemfile.lock

/tmp/
/spec/**/tmp/

spec/dummy_app/**/*.sqlite3.db
spec/dummy_app/**/*.sqlite3
spec/dummy_app/**/*.log

.rspec
spec/examples.txt
